# Editor directories and files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Mm]emory/
[Cc]ollabsettings/
[Bb]uilds/
[Bb]uildSettings/*
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# .clawdbot
.clay/
*.log
cron.log

# Environment variables
.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
